body{
    font-size: 12px;
    font-family: "Microsoft YaHei",tahoma,verdana,Arial, Helvetica, sans-serif;
    color: #333;
    background: #eee;
    padding: 20px;
}
@font-face {font-family: "iconfont";
    src: url('iconfont.eot?t=1541161447106'); /* IE9*/
    src: url('iconfont.eot?t=1541161447106#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAA0UAAsAAAAAEwAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABHU1VCAAABCAAAADMAAABCsP6z7U9TLzIAAAE8AAAARAAAAFY8hkrYY21hcAAAAYAAAAClAAACNg8rCDJnbHlmAAACKAAACJcAAAuk8ztxzWhlYWQAAArAAAAALwAAADYTJAnLaGhlYQAACvAAAAAcAAAAJAfeA4xobXR4AAALDAAAAA8AAAAsLAAAAGxvY2EAAAscAAAAGAAAABgOOBFgbWF4cAAACzQAAAAfAAAAIAEhALZuYW1lAAALVAAAAUUAAAJtPlT+fXBvc3QAAAycAAAAdwAAAJwlC9nieJxjYGRgYOBikGPQYWB0cfMJYeBgYGGAAJAMY05meiJQDMoDyrGAaQ4gZoOIAgCKIwNPAHicY2BkYWCcwMDKwMHUyXSGgYGhH0IzvmYwYuRgYGBiYGVmwAoC0lxTGByeCbx4xtzwv4EhhrmBoQEozAiSAwDvrwzbeJzlkrENg0AMRf8FciQoBVUGoI5EwTIMQENNmwEySqpswDr/2IJ8n9OFTBCf3kn+snzW9wE4AijETZRAeCHA4ik1ZL1AnfUSd+VXNFIiG7bs2HPgxDmNaVm5bcAvfSeCen0fm+KQ3wyIOGm+MyoVx90e/xWXfD8+WW1uO7Y5to7cAzvHNsveyfWDY5vl5MhlcHbkN9Lo2M9Ii6MdYKWD6g1VGjxUAAAAeJxdVm9sU9cVv+fe9/89v+dnP9txYju1X+y80BIncRwnARySJqQtC/8R/zYRglQGlAJKwgStwAKVf4XtAwvVkFaBaFEr7csmqFa1rDA2aZ34VET3ZZVg4s+HaRr9sKmb4sfOtYGGyb73nnvuOeeee+7vnPuIQMjjU+zP7A2ikxjJkgIh0A6tZSilIGYCM0FGAqftwCRBLtQXCrkWzi6gJAogE/67Z4bSmT17Zhib2bN+itKp9eunGJtaft1/LCbER59c+VZIiv7j6x/fFRLCt1c+eSQmhbvwIzazu66zewZu0en166YpnV63frr6N+GbD8/dZOzmuQ+/KQqfn67Tpz8nhDD0+RrbyhaTOGkn/eixW0RPOtGViJuRZDsFhXRXT8luB4g40ouQyS3CQxXrvjtSOF3sLtOuFI2wgWZ28cCBi6zZcgAcix6sjf5DXR1S9VQWhguFYcie8bszQ2t+uGYoA1+NoTTqjEUsvxR0nCB8aUX8uxcUw1AuWH0tKI5KLX0QHGtfPeS6Q6vba/6eZP9h+zDGy8hp9FcicpTEekgpVyMcSUb/MznuVgm97MnlIdeDQyuyXTyWCbEUWFAb+D+Kx+J8PFQPYahRhtbumnS96xkAVOYmSoUoKqCBZqgNshQxmSxxJl5vJkfpbf++JEHT7a+hSRT9+1/fAEHs7codLgpMCxhMCckSFYEKomA2Bof75vW9bMctnCGLinJIYQFZZULpSKa7TwThYG6qM26AqEo6BUm0JJRjgiQwPZwb9V7JOjoTRcYoFSVLkKluGgBGY/u0N3Dp6gdsn+jfu33bvyeKkLh9GxJZ0Z+9sebswuD8oGqbyaa2iJp7IZlUBbU36Yy40TZRbIu6I06yVxHVZPKFnBppM52srdp5c+F7a/Eos4+sNkvNhS3PCeRCqiikklFbUK2RhFFoyotivqlgJEYsVbCjyZQgqqFcIhcJ51TTC5ZHlxAi4d1V2A1WIWEyQlaStWQD2YM3mDYhYjvRWLqYttN2AaHWyiKFpz8MdKadcpDVAv0kT5BCVD6VKcrFQtEtuhEXZ9lCxAVsctEtuXKrG+NMtybGhdiRKmnKZptotcoYWQwtTVPBoB00hcSSZaOlZLI0umxJIp5gHcrRrdtOUHpiW/emtB20QvcnJjonJvzi5cvw4zNnVm1aMzQ0iEienJzsmJxkFTQ0W2lqgcWs4p+D15GqdttBNC0kksneJcuWlFKppviAO1Gh7Pg2tNzm8n0vD3KrnRMnO+B6h92xdmhobceqzg0bOlfVsF4RCMarlSwmuzBSiMs0JmVGjmQscFxHSoITbcYWiUV5PDjYMVsR8fg3AZdQ3IkW0k9WS109PHtbMeI8s2NphDumewbtICeNKzZy0rgScaKsLRSo/oVSRoECMIYgZac0TTGpImgjcMMKM0EUD+qNlqD1+2XTtk1q43qAaezXgRC7uN8v7+cJvh++eOsCA7sxRA9u8Qc3Vxg7uAW+2FyhYUgGbLQNfBdsDvYc0G+KIMl6XC2EbjIJtipiJK7MR30JJEVp6LIDg3XD/uBbH/DxfCAUCpx/Yvj39XEwYGN9MzCGV9lv2SBJEI+8RDrIKFlNNpOd5CfkCPkZ+RijisDi0MLKIXGw5WqJ380THoMxp2iLrl0A3uRW+f9Aha0kFuuaRRcV5tBZVHZrxiUZ5vDhCS+C6/JcOvK8J53FJx4UKcH87UmZimKmehae/WjuZM1n34nid5/V+uoVz2OveJ7/6d69iV37Dh8+7GHbt8v/Tamda3j06O5nFPxj73HqcSP5fv/wMza9Vmd9v/iUeraxV9+PNYRsK6zqVNPClh3iE02jusonHrxWKr0Gtf5Q9RA9XD0EN06cSL7jvewdO4bdO32eGuDa+E7+ylMCwTr5rr3IAzQRDCj++23KUwlESp3ZFix773PaMpU2u9z6EYCGC3z3mgUovUrpqyUgIt7/V2ycJUgLvm+jZBPZRkg2g2EdAOzKMEDLCIBmyl8CC5tJ81jYWUwuxVpLSDK8hOLTrLAdvpzD5JPCGYkXLXwcupoh2lO0u3NuLJ3Jdffgexl1JJgJaJpKw2MKPqLGjrzoxBwxv8OwmRQcC1PViWnj48LYxuju3ZGNB0q99xwzCl6KppIeGJGmwAO7076jSUbQUO80LGi4oyLVVa1ohqHRimoEjqqyo+9cqkTRY2tcNwx93KKmEbOX7tQdE6RCQQay7u3+/rfXOXv3+n2g2Sn6p5QHuEm132oIikJZFMuMJYNGtV/VaFmSFgqaTv9gBCtG2MA/pg+RMX5/ZffYNAmQIEmSeaREhskKXrXboYSHj/G3UMqmIYxwtXksYza+rfgA2909XVGMkZSeO3luRZwTMPbl7Ebb0OGW4ihwC981efY4m+fvnNRNADPKuwe6ZUVNs+rWx/u6aUYtiy6Z3YgMnV3CObwJzQbckmV/vmTJVhfMzP7R1GEKl3T/lG4GLB0ma5PTXOd7mpp8giycmEFuPmrh+Sme/59sGbNJhKQQOfitkK59XLBCtKvUlWIMXeeH6GJjg+3+cPug2pBd6A3/bthblG1Qri2YvjQ9felA38qVfS8tX9HbMjTU0rtiOc33c/Z0Pb532U9ZirgkTxYgQndgpT9AiOg+V40l/t2FEEvXYRcr8JCFa+HjElgx5oRSdjm9AGph5Z8uiHP+zcK/emrAZ7EBZHEGVpo8dHRmMwjr7hqUEbrbz7p5gLxL4ziGEiFdqT5UdF05i2X2X/6nvNjCKPZ9/gMzFDKhEentVzl5FakXmaAqIBuu+UaAGkNqo0PV7h/8mw6f1OJIHhPVsHkCxgPaVtWJ866Zb/Vefcvr3Mp1vll1u6JBqClEN2IHnPoluoL/8/XBf3gmEFfAMwRji5Exl2o01KgtHPb/vkr+BeZdXP851lBW2aG9rsXDtQ6v839AgRD9AHicY2BkYGAAYq4vb4/E89t8ZeBmYQCBG0xJzxH0/wYWBuYGIJeDgQkkCgA/jgq2AHicY2BkYGBu+N/AEMPCAAJAkpEBFXADAEcRAnR4nGNhYGBgIRIDAARMAC0AAAAAAABaALIBkAIoAsoDygRqBOoFGgXSeJxjYGRgYOBmWMXAwwACTEDMBYQMDP/BfAYAGyEB2AB4nGWPTU7DMBCFX/oHpBKqqGCH5AViASj9EatuWFRq911036ZOmyqJI8et1ANwHo7ACTgC3IA78EgnmzaWx9+8eWNPANzgBx6O3y33kT1cMjtyDRe4F65TfxBukF+Em2jjVbhF/U3YxzOmwm10YXmD17hi9oR3YQ8dfAjXcI1P4Tr1L+EG+Vu4iTv8CrfQ8erCPuZeV7iNRy/2x1YvnF6p5UHFockikzm/gple75KFrdLqnGtbxCZTg6BfSVOdaVvdU+zXQ+ciFVmTqgmrOkmMyq3Z6tAFG+fyUa8XiR6EJuVYY/62xgKOcQWFJQ6MMUIYZIjK6Og7VWb0r7FDwl57Vj3N53RbFNT/c4UBAvTPXFO6stJ5Ok+BPV8bUnV0K27LnpQ0kV7NSRKyQl7WtlRC6gE2ZVeOEXpc0Yk/KGdI/wAJWm7IAAAAeJxtjMEOgjAQRHcQKAIx8UM4wB9tTNNWw9ay1gS+XiIefYfJvDkMFXTQ0n86FDihRIUaBg3OaNGhJ7NGcT6P5Rxm/sl0SdkuVtTH/Mgs183vubC4b0l5rFjVvsyTg9/XXvgdblGGu9OtPj4a9VZSEEf0AVs4JNMA') format('woff'),
    url('iconfont.ttf?t=1541161447106') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('iconfont.svg?t=1541161447106#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:18px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 3px;
}
.icon-group:before { content: "\e673"; }
.icon-user:before{ content: "\e658"; }
.icon-add:before { content: "\e633"; }
.icon-sure:before { content: "\e610"; }
.icon-top:before { content: "\e8e6"; }
.icon-transfer:before { content: "\e764"; }
input{
    border:none;
    outline: none;
}
h3 i{
 font-weight: 500;
}
table{
    
    font-size: 14px;
    border-collapse: collapse;
    width:100%;    
}
table thead{
    background-color: rgb(81, 130, 187);
    color: #fff;
}
table tr{
    border: 1px solid #aaa;
    height: 35px;
    line-height: 35px;

}
table td, table th{
    text-align: left;
    padding-left:8px; 
}
.disnone{
    display: none;
}
.disflex{
    display: flex;
    flex-wrap: wrap;
}
.charity-add{
    width:50%;  
}
.charity-sure{
    margin-left: 10%;
    max-width: 400px;
    min-width: 300px;
}
.user-modify{
    border: 1px solid #aaa;
    flex: 1;
    margin-left: 40px;
    padding: 10px;
}
@media (max-width: 650px){
    .mediaflex{
        flex-direction: column;
    }
    .charity-add{
        width:100%;
    }
    .charity-sure{
        margin-left: 0;
        width:100%;
    }
    .user-modify{
        margin-left: 0;
        margin-top: 20px;
    }
}
.menu{
    display:flex;
    font-size: 20px;
}
.menu-item{
    width: 50%;
    text-align: center;
    cursor: pointer;
}
.menu-active{
    border-bottom: 1px solid rgb(81, 130, 187);
    color: rgb(81, 130, 187);
}
.form-item{
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
}
.form-item input{
    flex: 1;
}
.line40 input{
    width: 200px;
    height: 25px;
    margin-left: 5px;
    padding-left: 6px;
}
.form-item:last-child{
    border-bottom: none;
}
.line40{
    height: 40px;
    line-height: 40px;
}
.mr30{
    margin-right: 30px;
}
.ft14{
    font-size: 14px;
}
.creat-box{
    display: flex;
    justify-content: flex-end;
    max-width: 406px;
}
.label-blue{
    font-size: 16px;
    color: #3598db;
}
.donate-group span{
    width: 33%;
}
.label-left{
    width: 70px;
    float: left;
}
.user-con{
    margin-top: 20px;
}
.user-card{
    flex: 2;
    border: 1px solid #aaa;
    padding: 10px;

}
.card-name{
    font-size: 18px;
    font-weight: bold;

}
em{
    font-size: 18px;
    font-style: normal;
    color: blue;
}


.input-box{
    background-color: #fff;
}
.submit{
    font-weight: bold;
    cursor: pointer;
    border-radius: 2px;
    margin-top: 15px;
    height: 35px;
    background-color: rgb(81, 130, 187);
    color: #fff;
    border: none;
    font-size: 14px;
    width: 100%;
}


.info-textarea{
height:80px;
width:100%;
max-width: 400px;
}
.submit-small{
width: 100px;
float: right;
}
.eclips-text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;/*折叠显示两行*/
    overflow: hidden;
}
