.mengban {
    position: fixed;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 30px;
    background: rgba(0,0,0,0.6);
    -webkit-transition: .3s color, .3s border;
    transition: .3s color, .3s border;
}
.loading-box{
    border-radius: 5px;
    color: rgba(80, 80, 80, 0.9);
    width: 200px;
    height: 200px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.loading-box p{
    height: 20px;
    font-size: 18px;
}
   
.loader-03 {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    border: .25em solid currentcolor;
    border-bottom-color: transparent;
    border-radius: 50%;
    -webkit-animation: 1s loader-03 linear infinite;
    animation: 1s loader-03 linear infinite;
    position: relative;
}
@-webkit-keyframes loader-03 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes loader-03 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}